

@media (max-width: 767px) {
  h1,h2 {
    font-size: 55px !important; /* Ajusta o tamanho da fonte para telas menores */
  }
  p{
    font-size: 16px !important;
  }
 .slider_section {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
  }

  .detail-box {
    order: 1;
    width: 100%;
    text-align: center;
    /*padding: 20px 15px;*/
  }

  .slider_bg_box {
    order: 2;
    position: relative;
    width: 60%; /* ocupa toda a largura */
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    z-index: 0; /* não empurra pra trás */
  }

  .slider_bg_box img {
    width: 100%; /* imagem centralizada e fluida */
   /* border: 2px solid red;*/
    height: auto;
    object-fit: cover;
    object-position: center top;
    display: block;
  }
  .arrival_bg_box img{
display: none;
  }
  .dropdown-menu {
   align-items: center !important;
    text-align: center !important;
    background-color: #000 !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5) !important;
    justify-content: center !important;
    border: solid 2px #8603D2 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .dropdown-menu .dropdown-item {
    color: none !important;
    padding: 8px 12px !important;
    background-color: transparent !important;
    border:none!important;
  }
}
