@media (max-width: 1300px) {
  .slider_section {
    padding: 110px 0 80px;
  }

  .slider_section .detail-box h1 {
    font-size: 4rem;
  }
}

@media (max-width: 1120px) {
  .slider_section .detail-box h1 {
    font-size: 3.5rem;
  }

  .arrival_section .arrival_bg_box img {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding: 15px 15px 30px;
    align-items: flex-start;
  }

  .nav_search-group {
    width: 100%;
    margin: 10px 0 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-start;
  }

  .nav_search-group .nav_search-btn {
    margin-left: 0;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 10px 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }

  .slider_section {
    padding: 120px 0 60px;
  }

  .slider_bg_box {
    padding: 0 20px;
  }

  .slider_bg_box img {
    width: min(420px, 75vw);
  }

  .slider_section .detail-box h1 {
    font-size: 3rem;
    line-height: 1.2;
  }

  .slider_section .detail-box p {
    font-size: 1rem;
  }

  .slider_bg_box img {
    opacity: 0.35;
  }

  .arrival_section .box {
    padding: 90px 35px;
  }

  .arrival_section .arrival_bg_box img {
    width: 100%;
    max-width: none;
    opacity: 0.25;
  }

  .client_section .carousel-control-prev {
    left: 15%;
  }

  .client_section .carousel-control-next {
    right: 15%;
  }
}

@media (max-width: 767px) {
  .heading_container h2 {
    font-size: 2.4rem;
  }

  p {
    font-size: 0.95rem;
  }

  .slider_section .detail-box,
  .about_section .detail-box {
    margin-bottom: 35px;
    text-align: center;
  }

  .slider_section .detail-box h1 {
    font-size: 2.3rem;
  }

  .slider_bg_box {
    position: relative;
    height: auto;
    margin-bottom: 30px;
    padding: 0;
  }

  .slider_bg_box img {
    opacity: 0.2;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  .about_section .row,
  .arrival_section .row {
    flex-direction: column-reverse;
  }

  .arrival_section .box,
  .subscribe_section .box {
    padding: 65px 25px;
  }

  .arrival_section .arrival_bg_box {
    position: relative;
    margin-bottom: 30px;
    height: auto;
  }

  .arrival_section .arrival_bg_box img {
    position: relative;
    width: 100%;
    opacity: 1;
    height: auto;
  }

  .subscribe_section .subscribe_form form button {
    margin-top: 15px;
  }

  .client_section .carousel-control-prev {
    left: 5%;
  }

  .client_section .carousel-control-next {
    right: 5%;
  }
}

@media (max-width: 576px) {
  .heading_container h2 {
    font-size: 2rem;
  }

  .slider_section {
    padding: 110px 0 55px;
  }

  .slider_bg_box img {
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .heading_container h2 {
    font-size: 1.85rem;
  }

  .slider_section .detail-box h1 {
    font-size: 1.9rem;
  }

  .carousel_btn_box {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    transform: none;
    margin: 0 15px;
  }
}

@media (max-width: 420px) {
  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}